/* Entire Page */

body {
    width: 960px;
    margin: 0px auto;
    background-image: linear-gradient(#397368, white);
}

/* Header */

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 75px;
    text-align: center;
    margin-top: 50px;
}

/* Main */

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

section {
    margin-left: 40px;
}

img {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    border: 2px solid black;
}

canvas {
    margin-left: 75px;
}

