/* Entire Page */

body {
    width: 960px;
    margin: 0px auto;
}

/* Header */

header {
    height: 200px;
    background-color: rgba(225, 225, 225, 0.762);
    /* url("img/annie-spratt-1132840-unsplash.jpg"); */
}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 75px;
    text-align: center;
}

/* Main */

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    margin-right: 30px;
}